[Unit]
Description=TPM2 Access Broker and Resource Management Daemon
# These settings are needed when using the device TCTI. If the
# TCP mssim is used then the settings should be commented out.
#After=dev-tpm0.device
#Requires=dev-tpm0.device

[Service]
Type=dbus
BusName=com.intel.tss2.Tabrmd
ExecStart=/usr/local/sbin/tpm2-abrmd  --tcti="/usr/local/lib/libtss2-tcti-mssim.so.0:host=127.0.0.1,port=2321"
User=root

[Install]
WantedBy=multi-user.target